html, body {
  height: 100%;
  width: 98VW;
  position: relative;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, span::selection{
  background-color: #0cc;
}

.animate-slide {
width: 50%;
margin: auto;
background-image: linear-gradient(to right, #0cc 50%, white 0);
background-position: right;
background-size: 200% 200%;
transition: background-position 0.75s;
box-shadow: 2px 2px 5px black;
margin-bottom: 15px;
border: 5px solid black;
padding: 10px;
}

.animate-slide::selection, .love::selection {
  background-color: #000;
}

.animate-slide:hover {
background-position: left;
}

.bg-img{
height: 100vh;
width: 100%;
background-image: url('seychelles.png');
  background-size: cover;
  filter: blur(8px);
  height:100%;
  position:fixed;
}

.bg-text {
color: white;
margin: 30vh auto 0 auto;
width: 100%;
padding: 20px;
}

section{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  width: 98vw;
  margin: 0 auto 0 auto;
}

.container {
  backdrop-filter: blur(128px);
  border-radius: 25px;
  border: 3px solid black;
}

.row {
  margin: 10px 0 10px 0;
}

.love {
  color: #00cccc;
}

.good {
  color: #007a33;
}

.neutral {
  color: #fed141;
}

.joke {
  color: #002f6c;
}

.bad {
  color: #d92323;
}